@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    background: lightblue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#kasse{
    display: grid;
    place-items: center;
}

#hvaler{
    background: greenyellow;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 90vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    transition: 1s all ease-in-out;
}

#dato{
    background: blueviolet;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 80vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    transition: 1s all ease-in-out;
}

#dato h2{
    display: grid;
    place-items: center;
    cursor: pointer;
}

#hvaler h2{
    display: grid;
    place-items: center;
    cursor: pointer;
}

.intro{
    height: 3rem;
    display: grid;
    place-items: center;
    color: lightgray;
}

#hvaler .content{
    padding: 20vw;
    background-color: rgba(100,100,100,0.8);
}

#dato .content{
    padding: 20vw;
    background-color: rgba(100,100,100,0.8);
}

.example{
    display: grid;
    grid-template-columns: 6fr 2fr;
}

#endpointH{
    height: 3rem;
    background: white;
    border: 1px solid black;
    display: grid;
    align-content: center;
    padding-left: 2rem;
}

#submitH{
    height: 3rem;
    display: grid;
    place-items: center;
    background: black;
    color: whitesmoke;
    cursor: pointer;
}

#endpointD{
    height: 3rem;
    background: white;
    border: 1px solid black;
    display: grid;
    align-content: center;
    padding-left: 2rem;
}

#submitD{
    height: 3rem;
    display: grid;
    place-items: center;
    background: black;
    color: whitesmoke;
    cursor: pointer;
}

.json{
    width: 100%;
    height: 20vh;
    background: white;
    margin-top: .5rem;
    padding: 2rem;

}